name: Node.js Package

on:
  push:
    branches:
      - master

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - run: |
          npm publish Assets/Plugins/UnityFx.Mvc
          npm publish Assets/Plugins/UnityFx.Mvc.UGUI
          npm publish Assets/Plugins/UnityFx.Mvc.Design
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
